<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Suspenders</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="tbds-app-frame">
      <%= partial "partials/site_nav" %>

      <main class="tbds-app-frame__body container container--body" id="main" role="main">
        <%= yield %>
      </main>

      <%= partial "partials/site_footer" %>
  </body>
</html>
